<p>Hi there,</p>

<p>please complete your button registration here</p>

<%= render partial: "email_safe_button", locals: {
  label: "REGISTER",
  href: button_url(@button),
  align: "center"
} %>

<p>Now get your button out and push it, push it real good</p>