<section>
  <div class="container-fluid container-fluid-max">
    <div class="row text-center py-5">
      <div class="col-12 pt-3">
        <h1>Remote Button</h1>
      </div>
      <div class="col-12 pt-3">
        <%= image_tag(
          "remote_button_drawn_01.png",
          size: "200x175",
          alt: "Remote Button",
          data: {
            testid: "remote-button-image"
          }
          ) %>
      </div>
    </div>
  </div>
</section>

<section id="process" class="process">
  <div class="container-fluid container-fluid-max">
    <div class="row text-center py-5">
      <div class="col-12 pb-4">
        <h2 class="text-red">What is a remote button?</h2>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">Hardware build</div>
      <div class="col-12 col-sm-6 col-lg-3">Get the code</div>
      <div class="col-12 col-sm-6 col-lg-3">Multitude of uses</div>
      <div class="col-12 col-sm-6 col-lg-3">Connect with friends</div>
      <div class="col-12 pt-3">
        <a class="btn btn-secondary" target="_blank" href="https://github.com/failure-driven/remote-button" role="button">find out more</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid container-fluid-max">
    <div class="row text-center py-5">
      <div class="col-12 pt-3">
        Why not try a software version of the button NOW!
      </div>
      <div class="col-12 pt-3">
        <%= link_to(
          "Software Button",
          new_software_button_path,
          class: "btn btn-primary",
          data: {
            testid: "try-software-button-action",
          }
        )%>
      </div>
    </div>
  </div>
</section>