<main class="container">
  <h1>Remote Button</h1>
  <%= image_tag(
    "remote_button_drawn_01.png",
    size: "400x350",
    alt: "Remote Button",
    data: {
      testid: "remote-button-image"
    }
    ) %>
</main>
