$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@import "~bootstrap/scss/bootstrap";
@import "components/button";
@import "components/banner";
@import "components/card";
@import "components/footer";
@import "components/report";
@import "components/3dcard";

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .container-fluid {
    flex: 1;
  }
}

.navbar {
  text-align: center;
  background-color: rgba(10, 8, 9, 0.5);
  .nav-translucent {
    background-color: rgba(10, 8, 9, 0.6);
  }
}

.btn-huge {
  height: 200px;
}
.btn-high-viz-action:disabled {
  background-color: red;
  border-color: red;
}

.pre-container {
  .jumbotron {
    border-radius: 0;
  }
}