$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "components/button";
@import "components/banner";
@import "components/card";
@import "components/footer";
@import "components/report";

body {
  //   margin: 2px;
  font-family: "Montserrat", sans-serif;
  //   border: 1px groove red;
  //   border-radius: 6px;
  //   animation: mymove 5s infinite;
}

// @keyframes mymove {
//   50% {
//     border-color: #0d93e0;
//   }
// }

.navbar {
  text-align: center;
  background-color: rgba(10, 8, 9, 0.5);
  .nav-translucent {
    background-color: rgba(10, 8, 9, 0.6);
  }
}

.btn-huge {
  height: 200px;
}
.btn-high-viz-action:disabled {
  background-color: red;
  border-color: red;
}
