.total-count {
  font-size: 3rem;
  background-color: blue;
  color: white;
  padding: 1rem;
  border-radius: 50%;
}

// daily activity report

$square-size: 15px;
$square-gap: 5px;
$week-width: calc(#{$square-size} + #{$square-gap});

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  li {
    list-style: none;
  }
}

.months {
  display: grid;
  grid-template-columns:
    calc(#{$week-width} * 4) /* Jan */
    calc(#{$week-width} * 4) /* Feb */
    calc(#{$week-width} * 4) /* Mar */
    calc(#{$week-width} * 5) /* Apr */
    calc(#{$week-width} * 4) /* May */
    calc(#{$week-width} * 4) /* Jun */
    calc(#{$week-width} * 5) /* Jul */
    calc(#{$week-width} * 4) /* Aug */
    calc(#{$week-width} * 4) /* Sep */
    calc(#{$week-width} * 5) /* Oct */
    calc(#{$week-width} * 4) /* Nov */
    calc(#{$week-width} * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: #{$square-gap};
  grid-template-rows: repeat(7, #{$square-size});
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: #{$square-size};
}

/* Other styling */

.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}

//
