<p>Welcome <%= @email %>!</p>

<p>Confirm your email and log into your remote button internet experience!</p>

<%= render partial: "./layouts/email_safe_button", locals: {
  label: "CONFIRM MY ACCOUNT",
  href: user_passwordless_confirmation_url(@resource, confirmation_token: @token),
  align: "center"
} %>