<div class="graph">
  <ul class="months">
    <% report[:months].each do |month| %>
      <li><%= month %></li>
    <% end %>
    </ul>
    <ul class="days">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
    <ul class="squares">
      <% report[:activity].each do |daily_activity| %>
        <li data-level="<%= daily_activity[1] %>" data-toggle="popover" data-content="<%= daily_activity[0] %>, <%= daily_activity[2] %>" data-trigger="hover">
        </li>
      <% end %>
    </ul>
</div>
