<div class="footer">
  <div class="container">
    <%= image_tag(
            "remote_button_drawn_01.png",
            size: "50x50",
            alt: "Remote Button",
            data: {
              testid: "remote-button-image"
            }
            ) %>
    <div class="footer-links">
        <a href="https://github.com/failure-driven/remote-button"><i class="fab fa-github"></i></a>
    </div>
        Developed by the Hardhack team, 2020
  </div>
</div>