<footer class="footer pb-3">
  <ul class="nav">
    <li class="nav-link">
      © 2021 Remote Button Team
    </li>
    <li class="nav-link">
      <a href="#">
        Contact Us
      </a>
    </li>
    <li class="nav-link">
      <a href="#">
        About Us
      </a>
    </li>
    <li class="nav-link">
      <a href="#">
        Terms
      </a>
    </li>
    <li class="nav-link">
      <a href="#">
        Privacy
      </a>
    </li>
    <li class="nav-link">
      <a href="#">
        Site Map
      </a>
    </li>
    <li class="nav-link" target="_blank">
      <a href="https://github.com/failure-driven/remote-button">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</footer>