<div class="footer">
  <div class="container">
    <div class="footer-links">
        <a href="https://github.com/failure-driven/remote-button"><i class="fab fa-github"></i></a>
    </div>
        Developed by the Hardhack team, 2020
  </div>
</div>