<div class="navbar">
  <div class="remote-btn-logo">
    <%= image_tag(
            "remote_button_drawn_01.png",
            size: "50x50",
            alt: "Remote Button",
            data: {
              testid: "remote-button-image"
            }
            ) %>
  </div>
    <nav>
      <ul>
        <li><a href="#" class="active">About</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Guide</a></li>
        <li><a href="#">Contact</a></li>
        <% if @button && !@button.new_record? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= button_path(@button) %>">Button</a>
        </li>
      <% end %>
      </ul>
    </nav>
    <div class="menu-toggle">
      <%= image_tag(
              "on.png",
              size: "30x30",
              alt: "placeholder for menu bar",
              data: {
                testid: "placeholder-image"
              }
              ) %>
    </div>
  </div>
</div>